.features {
  background-color: #fff;
}

.features-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.feature-item {
  flex-basis: calc((100% - 72px) / 4);
}

.title-large {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text-large {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
