.logo {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: 0.03em;
    font-family: 'Raleway', sans-serif;
    color: #2E2F42;
}
.header-logo {
    color: rgba(46, 47, 66, 1);
}
.hero-link {
color: #2E2F42;
line-height: 1.5;
font-size: 16px;
letter-spacing: 0.02em;
font-weight:500;

}
.hero-contacts {
    color: #434455;
   line-height: 1.5; 
   letter-spacing: 0.02em;
   font-style:normal;
   font-size: 16px;
   font-weight:400;
}

.hero-link:hover,
.hero-link:focus,
.hero-contacts:hover,
.hero-contacts:focus {
    color: #404bbf;
}