.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: rgba(46, 47, 66, 1);
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.hero-link {
  display: block;
  color: #2e2f42;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 500;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-address {
  margin-left: 40px;
  font-style: normal;
}

.hero-contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.hero-contacts {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: 400;
}

.hero-link:hover,
.hero-link:focus,
.hero-contacts:hover,
.hero-contacts:focus {
  color: #404bbf;
}